{% extends "ProyectoGPS/base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block content %}



<form method="post" enctype="multipart/form-data">
  
 
  {% csrf_token %}
  
  <!-- {{ form.as_p }} -->
  <div class="form-group">
    <label for="nombre" class="txt_negrita">Nombre</label>
    {{ form.nombre|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
  </div>
  <div class="form-group">
    <label for="apellido_m" class="txt_negrita">Apellido Materno</label>
    {{ form.apellido_m|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
  </div>
  <div class="form-group">
    <label for="apellido_p" class="txt_negrita">Apellido Paterno</label>
    {{ form.apellido_p|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
  </div>
  <div class="form-group">
    <label for="email" class="txt_negrita">Correo Electronico</label>
    {{ form.email|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
  </div>
  <div class="form-group">
    <label for="fech_naci" class="txt_negrita">Fecha de Nacimiento</label>
    {{ form.fech_naci|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
  </div>
  <div class="form-group">
    <label for="carrera" class="txt_negrita">Carrera</label>
    {{ form.carrera|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
  </div>
 
  <button type="submit" class="btn btn-primary">Aceptar</button>
  <a href="./" type="submit" class="btn btn-primary">Cancelar</a>

</form>



{% endblock %}