@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;1,100;1,200&display=swap');

*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat';
    overflow-x: hidden;
}

header{
    background-image: url('/images/pexels-davis-sanchez-2495232.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;


}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  line-height: 0;


  background: #fff;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}


.menu li {
    list-style-type: none;
}

.menu li a {
    color: #ffff;
    text-decoration: none;
    display: block;
    padding: 40px 25px;
    font-size: 18px;
    line-height: 1;
    transition: 0.3s;
}

/*
.menu-section{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    flex: 1;
    z-index: 1;
    transition: 0.5s;

}
*/

.navbar{
    flex: 1;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.navbar ul{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
}

.menu ul a:hover{
    box-shadow: 0 -2px 0px black inset;;
}

.navbar a{
    text-decoration: none;
    display: block;
    justify-content: space-between;
    text-align: center;
    color: #000;
    transition: 0.3s;

}



.logo{
    flex: 1;
    text-align: end;

}

.footer{
    display: flex;
    flex: 1;
    margin: 1rem 1rem 1rem 10rem;
    padding: 30% 0 0 0 ;
    flex-direction: column-reverse;
}
.container{
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    font-size: 9rem;
    color: #fff;
    font-weight: 800;
    font-size: 64px;
    line-height: 78px;

}

.button-navbar{
    width: 11rem;
    height: 3rem;
    text-align: center;
    margin: 0 1rem 0 0;
    padding: 1rem 0rem 0rem 2.3rem;
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 300;
    font-size: 2.3rem;
    color: #000;
}

.current {
    background: #A08080;
    width: 10rem;
    height: 3.3rem;
}


.current a{
    color: #fff;
}


.logo img{
    width: 10rem;
    height: 10rem;
    margin: 0 10rem 0 0;
}


.testimonials{
    width: 100%;
    height: 100vh;
    background: linear-gradient(116.27deg, #DED0D0 2.66%, rgba(204, 204, 204, 0.44) 98.15%);
    text-align: center;
}

.testimonials .title{
    background: linear-gradient(180deg, #928282 0%, rgba(15, 4, 4, 0.29) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 138.4%;
margin: 0 0 5rem 0;
}

.cards{
display: flex;
margin: auto;
justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    width: 40.8rem;
    height: 62.1rem;
    background: linear-gradient(157.46deg, rgba(255, 255, 255, 0.4) 4.45%, rgba(255, 255, 255, 0.1) 98.71%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(34px);
/* Note: backdrop-filter has min
imal browser support */

border-radius: 30px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.075em;
margin: 0 3rem 0 3rem;
color: #0C0202;
backdrop-filter: blur(40px);
}


.img-container-1 {
    width: 50%;
    height: 33%;
   margin: 4rem 0 5rem 0;
   border-radius: 520px;
   background: url('/images/pexels-hai-nguyen-1699419.jpg');
   background-size: cover;
   background-position: center;
}

.img-container-2 {
    width: 21.7rem;
    height: 22rem;
   margin: 4rem 0 5rem 0;
   border-radius: 520px;
   background: url('/images/pexels-martin-kirigua-2259997.jpg');
   background-size: cover;
   background-position: center;
}

.img-container-3 {
    width: 21.7rem;
    height: 22rem;
   margin: 4rem 0 5rem 0;
   border-radius: 520px;
   background: url('/images/pexels-joshua-mcknight-1139249.jpg');
   background-size: cover;
   background-position: center;
}


.comillas-start{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 138.4%;
text-align: left;
}

.comillas-end{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 138.4%;
text-align: right;
}
/*
.img-container img{
    width: 16rem;
    height: 15rem;
    flex: 1;
   margin: 4rem 0 5rem 0;
   border-radius: 520px;
}*/




.hamburguer {
    position: relative;
    margin: 15px 0 0 0 ;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburguer:before,
.hamburguer:after{
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

.hamburguer:before {
    top: -10px;
    width: 20px;
}

.hamburguer:after{
    top: 10px;
    width: 25px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}



.navbar input:checked ~ .hamburguer{
     background: transparent;
}

.navbar input:checked ~ .hamburguer:before
{
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.navbar input:checked ~ .hamburguer:after {
top: 0;
transform: rotate(45deg);
width: 30px;
}


footer{
    width: 100%;
    height: 100vh;
    background: url('/images/tumblr_orhwjj8iHj1vyvnqoo1_1280.png');
    background-color: #EFE6E6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: space-between;
}


.formulario-contacto{
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
    text-align: center;
    align-items: center;

}


.form-container label{
    margin: 2rem 0 1rem 1rem;
}

.datos-location{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
}

.datos-location p {
    margin: 0 0 3rem 0;
}


.form-container{
  
    flex: 1;
    color: #fff;
    width: 60%;
    max-height: 70vh;
    background: linear-gradient(157.46deg, rgba(255, 255, 255, 0.4) 4.45%, rgba(255, 255, 255, 0.1) 98.71%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;

}

.form-container label{
    font-size: 2rem;

}
.form-container input{
    margin: 0 0 0 1rem;
    width: 90%;
    font-size: 2rem;
}

.form-container textarea{
    width: 90%;
    margin: 0 1rem 0 1rem;
    font-size: 1rem;
    height: 25rem;
}




.formulario-contacto p {
    font-size: 3rem;
    margin: 0 0 1rem 0;
}

.formulario-contacto p, label{

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 138.4%;
/* or 55px */

display: flex;
align-items: center;
letter-spacing: -0.075em;

background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.42) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}

.formulario-contacto input[type=submit]{
    margin: 1.5rem 0 0 40rem;
    width: 13rem;
    height: 5rem;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background: #C18A8A;
border-radius: 13px;
cursor: pointer;
color: #fff;
border: 0;

}

.datos-location{
    justify-content: center;
    align-items: center;

}
.datos-container{
    display:flex;
    flex-direction: column;
    width: 25vw;
    height: 70vh;
    text-align: center;
    justify-content: center;
    align-items: center;

    background: linear-gradient(157.46deg, rgba(255, 255, 255, 0.4) 4.45%, rgba(255, 255, 255, 0.1) 98.71%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;
}
.datos-container p{
    margin: 0 0 3rem 0;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 3.6rem;
line-height: 138.4%;
/* or 55px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.075em;
color: #000000;
}


@media screen and (min-width: 200px) and (max-width: 350px){

.logo img{
    margin: 0 2rem 0 0;
    width: 6rem;
    height: 6rem;
}

    .footer .container p{
        width: 100vw;
        font-size: 2rem;
        line-height: 1.7;
       transform: translate(-10rem, 13rem);
    }


.testimonials{
    box-sizing: content-box;
    overflow: hidden;
    width: 100vw;
    height: 450vh;
}

.cards{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    display: block;
}

.card{
margin: 0;
padding: 0;
 width: 100%;
 max-height: 60rem;
 margin: 0 0 1rem 0;
}

.card .img-container-1 {
    width: 18rem;
    height: 18.5rem;
    margin: 0 1rem 0 1rem;
border-radius: 520px;
}

.card .img-container-2{
    width: 18rem;
    height: 18.5rem;
    margin: 0 1rem 0 1rem;
border-radius: 520px;
}

.card .img-container-3{
    width: 18rem;
    height: 18.5rem;
    margin: 0 1rem 0 1rem;
    border-radius: 520px;

}

footer{
    width: 100vw;
    height: 100%;
    display: block;
    overflow-y: hidden;
}

.formulario-contacto p{
    font-size: 2.5rem;
}

.form-container{
    width: 100%;
    min-height: 90vh;
    max-height: 150vh;
}



.formulario-contacto input[type=submit]{
    margin: 0;
}


.datos-container{
    width: 100%;
    height: 100vh;
}


.datos-location{
    width: 100%;
    height: 100%;

}


.datos-location p {
  margin: 1rem 0 0 0;
}

.datos-container p {
  font-size: 2rem;
}



}



@media screen and (min-width: 350px) and (max-width: 400px) {

    .logo img{
        margin: 0 2rem 0 0;
    }

    .button-navbar{
        width: 10rem;
        height: 3rem;
        text-align: center;
        font-family: 'Montserrat';
        text-align: center;
        font-weight: 300;
        font-size: 2.3rem;
        color: #000;
    }

    .current {
        background: #A08080;
        width: 7rem;
        height: 3.3rem;
    }



    .footer .container{
        width: 100vw;
        font-size: 3rem;
        margin: 40rem 0 0 0;
        transform: translateX(-10rem);
        line-height: 5rem;
    }

.testimonials{
    box-sizing: content-box;
    overflow: hidden;
    width: 100vw;
    height: 260vh;
}

.cards{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    display: block;
}

.card{
margin: 0;
padding: 0;
 width: 100%;
 max-height: 60rem;
 margin: 0 0 1rem 0;
}

.card .img-container-1 {
    width: 18rem;
    height: 18.5rem;
    margin: 0 1rem 0 1rem;
border-radius: 520px;
}

.card .img-container-2{
    width: 18rem;
    height: 18.5rem;
    margin: 0 1rem 0 1rem;
border-radius: 520px;
}

.card .img-container-3{
    width: 18rem;
    height: 18.5rem;
    margin: 0 1rem 0 1rem;
    border-radius: 520px;

}
}

@media screen and (min-width: 400px) and (max-width: 800px){

header{
    font-size: 0rem;
}

    .footer .container{
        width: 100%;
        font-size: 4rem;
        margin: 48rem 0rem 0 -8rem ;
        line-height: 4rem;
    }

    .testimonials{
        width: 100%;
    }

    .cards{
        width: 100%;
    }

    .card{
        width: 100rem;
        height: 100%;
    }

    .card .img-container-1 {
        width: 18rem;
        height: 18.5rem;
        margin: 0 1rem 0 1rem;
   border-radius: 520px;
    }

    .card .img-container-2{
        width: 18rem;
        height: 18.5rem;
        margin: 0 1rem 0 1rem;
   border-radius: 520px;
    }

    .card .img-container-3{
        width: 18rem;
        height: 18.5rem;
        margin: 0 1rem 0 1rem;
        border-radius: 520px;

    }

    .formulario-contacto .form-container input[type=submit]{
        text-align: center;
        transform: translate(-22rem, 1rem);
      }


}


@media screen and (min-width: 800px) and (max-width: 1300px){
.footer .container{
    margin: 25rem 0 0 0 ;
}

}


@media screen and (min-width: 1300px) and (max-width: 1500px){




.formulario-contacto .form-container{
    text-align: center;
    
}

.formulario-contacto .form-container input[type=submit]{
  text-align: center;
  transform: translate(-12rem, 1rem);
}


}
